/*----- Общие стили -----*/
body {
  width: 1200px;
  height: 2416px;
  margin: 0 auto;
  background-color: #849d8f;
  /*background: url('../img/gllacy-index-1000.svg') no-repeat fixed;*/
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/*   Не реализованно по блоку навигации: всплывающий список прыгает принаведении на каталог > новинки */
nav {
  display: flex;
}

/*----- Логотип -----*/
nav img.logo {
  position: relative;
  padding: 0;
  bottom: 34px;
  left: 27px;
}

/*-----   Кнопка "Каталог" -----*/
.main-catalog {
  z-index: 1;
  display: flex;
  margin-left: 38px;
}

.main-catalog > ul {
  display: flex;
  margin-top: 23px;
  padding: 0;
}

.main-catalog > ul li a {
  display: block;
  padding: 9px 13px 10px 14px;
  font-size: 16px;
  color: #f7f6f3;
  text-decoration: none;
  font-weight: bold;
}

.main-catalog li a {
   margin-bottom: 5px;
}

.main-catalog li a:hover {
  background: #f7f6f3;
  color: #000000;
  border-radius: 50px;
  font-weight: bold;
}

.main-catalog li ul {
  background: #f8f7f4;
  position: absolute;
  display: none;
  border-radius: 5px;
  padding-left: 18px;
  padding-right: 18px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  width: 143px;
}

/*----- Всплывающий список "Новинка" -----*/
.main-catalog li > ul li a {
  color: #000000;
  background: #f8f7f4;
  box-shadow: none;
  font-weight: 100;
  font-size: 13px;
  line-height: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.main-catalog li > ul li a:hover {
  background: #FBDED7;
  border-radius: 0px;
  font-weight: 100;
  padding: 9px 13px 10px 14px;
  color: #000000;
  line-height: 15px;
  margin-left: -18px;
  margin-right: -18px;
  padding-left: 18px;
  padding-right: 18px;
}

.main-catalog li > ul li a:active {
  background: #F6B5A5;
 border-radius: 0px;
  font-weight: 100;
  padding: 9px 13px 10px 14px;
  color: #000000;
  line-height: 15px;
  margin-left: -18px;
  margin-right: -18px;
  padding-left: 18px;
  padding-right: 18px;
}

.main-catalog li> ul li:first-child {
  border-bottom: 1px solid #b1b3b5;
}

.main-catalog li > ul li:first-child a:hover {
  border-radius: 5px 5px 0 0;
}

.main-catalog li:hover > ul {
  display: block;
}

/*---- Правый блок в навигации (поиск, вход, корзина) ----*/
.extra-catalog {
  display: flex;
  margin-left: 320px;
  margin-top: 7px;
}

/*---- текст ниже правого меню ----*/
.number {
  width: 170px;
  margin-left: -68px;
}

.extra-catalog > ul {
  display: flex;
}

.extra-catalog button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.extra-catalog .entry svg, .extra-catalog .basket svg {
  margin-right: 6px;
}

.extra-catalog .search, .extra-catalog .entry, .extra-catalog .basket {
  margin-right: 9px;
}

.extra-catalog .search:hover, .extra-catalog .entry:hover, .extra-catalog .basket:hover {
  margin-right: 9px;
}

.search {
  width: 33px;
  height: 33px;
}

.entry {
  width: 93px;
  height: 32px;
}

.basket {
  width: 100px;
  height: 32px;
}

/*смена фона кнопок svg*/
.extra-catalog button {
  margin: 0 5px 5px 0;
  border-radius: 50px;
  border: none;
  background: rgba(255,255, 255, 0.2);
  box-shadow: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}

.extra-catalog button:hover,
.extra-catalog button:active {
  margin: 0 5px 5px 0;
  border-radius: 50px;
  border: none;
  background: #f8f7f4;
  box-shadow: none;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
}

.extra-catalog button:hover path,
.extra-catalog button:active path,
.extra-catalog button:hover circle,
.extra-catalog button:active circle {
  fill: #000000;
}

.extra-catalog span {
  font-size: 22px;
  font-weight: bold;
}

/*всплытие попапа*/
.extra-catalog ul li:first-child:hover .form-search {
  display:block;
}

.extra-catalog ul li:nth-child(2):hover .form-entry {
  display:block;
}

/* ---- Всплывающие формы: поиск, выход, корзина покупок ---- */
/* Форма поиска */
.form-search {
  z-index: 1;
  display: none;
  position: absolute;
  width: 340px;
  height: 84px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  margin-left: -307px;
   background-color: #f8f7f4;
  border-radius: 5px;
}

.form-search input {
  width: 311px;
  height: 47px;
  font-weight: 100;
  font-size: 14px;
  margin: 20px 15px 20px 15px;
  padding-left: 10px;
}

/* Форма входа */
.form-entry {
  z-index: 1;
  display: none;
  position: absolute;
  width: 277px;
  height: 214px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  font-size: 13px;
  color: #999999;
  margin-left: -183px;
}

.form-entry input {
  width: 240px;
  height: 44px;
  margin: 20px 17px 0px 19px;
  margin-top: 20px;
  padding-left: 13px;
}

.form-entry a {
  color: #323232;
  text-decoration: underline;
}

.form-entry p {
  position: absolute;
  font-size: 13px;
  top: 132px;
  left: 140px;
  line-height: 1.85;
  text-align: left;
}

/*Кнопка Войти*/
.form-entry button {
  position: absolute;
  width: 100px;
  height: 46px;
  line-height: 1.33;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
  top: 148px;
  left: 20px;
}

.form-entry button:hover {
  border-radius: 20px;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  background: #F07C63;
  box-shadow: 0 2px 2px 0 #AC1000;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.form-entry button:active {
  border-radius: 20px;
  background-image: linear-gradient(0deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

/* ----- Фон два рожка -----*/
/*  не реализованы слайдер*/
.double-ice {
  width: 647px;
  height: 584px;
  margin: auto;
}

.ice-backgorund {
  position: relative;
  width: 1065px;
  height: 859px;
  margin: auto;
  bottom: 170px;
}

.photo-duoble {
  position: relative;
  bottom: 925px;
}

.double-ice p {
  position: relative;
  bottom: 1263px;
  right: 29px;
  width: 701px;
  height: 116px;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.01;
  text-align: center;
  color: #ffffff;
}

/*Кнопка - Давайте оба*/
.button-double {
  position: relative;
  bottom: 1263px;
  width: 280px;
  height: 64px;
  font-size: 32px;
  line-height: 1.38;
  border-radius: 35px;
  margin-left: 183px;
  margin-top: -33px;
}

/* ----- кнопки  для переключения слайдов в карусели -----*/

.next-slide {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  position: relative;
  bottom: 1307px;
  right: 248px;
  width: 80px;
  height: 20px;
  border: 1px solid #ffffff;
}

/* ----- Контейнер для добавок: малина + шоколад -----*/
.additives {
  display: flex;
  justify-content: center;
  margin-top: -82px;
}

/* ----- Фон Малина -----*/
.raspberries {
  z-index: 1;
  width: 560px;
  height: 230px;
  margin-right: 13px;
  background: url('../img/top/raspberries.png') no-repeat;
  border-radius: 10px;
}

/*Кнопка - Хочу варенья*/
.button-raspberries {
  display: inline-block;
  width: 166px;
  height: 49px;
  line-height: 1.33;
  border-radius: 35px;
  margin-top: 40px;
  margin-left: 374px;
}

/* ----- Фон Шоколад -----*/
.chocolat {
  z-index: 1;
  width: 560px;
  height: 230px;
  margin-left: 13px;
  background: url('../img/top/chocolate.png') no-repeat;
  border-radius: 10px;
}

/*Кнопка - Хочу шоколадки*/
.button-chocolat {
  display: inline-block;
  width: 190px;
  height: 48px;
  line-height: 1.33;
  border-radius: 35px;
  margin-top: 40px;
  margin-left: 350px;
}

.raspberries p, .chocolat p {
  font-size: 18px;
  font-weight: ;
  line-height: 1.22;
  color: #ffffff;
  margin: 0px 22px;
}

.raspberries h2, .chocolat h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.17;
  color: #ffffff;
  margin-left: 22px;
  margin-top: 15px;
  margin-bottom: 20px;ß
}

  /*----- ХИТ Картинки с мороженным ------------------------*/
.hit {
  width: 1200px;
  height: 357px;
  margin-left: -20px;
}

.hit ul {
  display: flex;
  margin-top: 30px;
}

.hit ul li {
  width: 290px;
}

.box img {
  padding: 10px;
}

.hit img[alt$="hits"] {
  position: absolute;
}

.hit span {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  text-decoration: none;
  font-size: 45px;
  font-weight: bold;
  line-height: 0.29;
}

.hit b {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 30px;
  font-weight: bold;
  line-height: 0.44;
}

.hit p {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.38;
  text-align: center;
  padding: 5px;
  margin-top: -10px;
}

.cost {
  margin: -55px 0px 30px 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
.box {
  display: flex;
  flex-direction: column;
}

.box:hover {
  width: 290px;
  height: 408px;
  background: rgba(255,255,255,0.20);
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
  border-radius: 5px;
  padding-bottom: 15px;
}

.button-hit {
  width: 203px;
  height: 46px;
  margin: -10px 0px 0px 40px;
}

.button-hit {
  display: none;
}

.hit ul li:hover .button-hit {
  display:block;
}

 /*----- Фон 'Вафля' для инфо-блока магазина Глейси ------------------------*/
.waffle {
  background: url(../img/info/waffle-big.png) no-repeat;
  width: 1165px;
  margin-left: 27px;
  margin-bottom: 35px;
}

 h1 {
  padding-top: 20px;
  padding-left: 20px;
  left: 20px;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color: #323232;
}

/*Контейнер для вафли*/
.info-shop {
  display: flex;
}

.info-shop ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.left, .right {
  width: 555px;
  line-height: 1.38;
  color: #323232;
}

.info-shop li {
  margin-left: 35px;
  margin-top: -45px;
}

.info-shop img {
  margin-left: 20px;
  margin-bottom: -15px;
}

/*----- контейнер для .strawberry(блок клубника) и .subs-ground(блок подписка) ---------------------------*/
.subscription {
  display: flex;
  justify-content: center;
}

/*----- Блок инфо: Клубника "Новое в нашем блоге" -----------------------------------*/
.strawberry {
  display: flex;
  width: 560px;
  height: 220px;
  margin-right: 13px;
}

.straw-ground { /*Фон - клубника*/
  background: url('../img/info/strawberry.png') no-repeat;
  width: 560px;
  height: 220px;
}

.straw-ground a {
  color: #323232;
}

.straw-ground a:link, .straw-ground a:hover {
  color: #F07B63;
}

.straw-ground h2 {
  text-decoration: underline;
  margin-left: 19px;
  margin-top: -10px;
  color: #323232;
  line-height: 32px;
  font-size: 24px;
  font-weight: bold;
}

.straw-ground p {
  color: #000000;
  font-size: 16px;
  margin-left: 19px;
  padding-top: 8px;
}

/*----- Блок подписки: форма, кнопка, текст -----------------------------------*/
/*Контейнер подписки*/
.subs-ground {
  width: 560px;
  height: 220px;
  margin-left: 13px;
}

/*Прочтовый, задний фон блока*/
.back-subs {
  display: flex;
  background: url('../img/info/bg-post.svg') no-repeat;
  width: 560px;
  height: 220px;
}

/*Передний, серый фон блока*/
.front-subs {
  background: url('../img/info/substrate.png') no-repeat;
  width: 552px;
  height: 213px;
   margin: 5px;
}

/*Текст в блоке*/
.front-subs p {
  color: #5a5a5a;
  line-height: 1.36;
  font-size: 16px;
  margin-left: 22px;
  margin-top: 29px;
  width: 517px;
  opacity: 0.8;
}

/*Форма*/
.form-email {
  height: 42px;
  width: 345px;
  border-radius: 5px;
  border: solid 1px rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  padding-left: 15px;
  margin-left: 20px;
  margin-top: 24px;
}

input[type='email']::placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 100;
}

/*Кнопка обратной связи*/
.front-subs button {
  display: inline-block;
  width: 130px;
  margin-top: 18px;
  margin-left: 7px;
}

/* ----- Блок карты ----- */
/* Иконка рожка на карте */
.icon-map {

}

/* Форма обратной связи */
.content {
  font-size: 18px;
  width: 230px;
  font-weight: bold;
 line-height: 1.33;
  margin-top: -10px;
}

.contact {
  display: inline-block;
  width: 304px;
  height: 305px;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  color: #323232;
  font-size: 14px;
  line-height: 1.43;
  border-radius: 10px;
  padding: 13px 0px 15px 25px;
}

.contact p:nth-child(5) {
  margin-top: -15px;
}

/*Кнопка обратной связи*/
.button-contact {
  display: inline-block;
  width: 254px;
  height: 44px;
  line-height: 1.33;
  border-radius: 35px;
  margin-top: 12px;
}

/*----  Форма "Мы обязательно с вами свяжемся" ----*/
.form-answer {
  display: none;
  position: relative;
  width: 480px;
  height: 440px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  margin-left: -400px;
  margin-top: -350px;
}

.close {
 position: absolute;
 display: inline;
 margin-left: 447px;
 margin-top: 15px;
}

.form-answer p {
  position: absolute;
  font-size: 24px;
  margin: 16px 20px 0px 22px;
  color: #000000;
  font-weight: 500;
}
.name-answer {
  font-size: 16px;
  line-height: 1.71;
  color: #999999;
  font-weight: 100;
}

.form-answer input:first-child {
  margin-top: 60px;
}

.form-answer input:first-child:hover {
  margin-top: 60px;
}

.form-answer input {
  width: 267px;
  height: 45px;
  border-radius: 5px;
  margin-left: 25px;
  margin-top: 20px;
  padding-left: 16px;
}

.text-answer {
  border: solid 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  margin-left: 4px;
  font-size: 16px;
  padding: 13px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #999999;
  font-weight: 100;
}

.text-answer:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
}

.form-answer button {
  display: inline-block;
  width: 140px;
  height: 43px;
  border-radius: 25px;
  margin-left: 315px;
  margin-top: 200px;
}

.map {
  width: auto;
  height: 430px;
  margin-top: 41px;
}
.foto-map {
  position: relative;
  z-index: 1;
}

.icon-map {
  position: absolute;
  margin-top: -315px;
  margin-left: 270px;
  z-index: 2;
}

.contact {
  position: absolute;
  margin-left: -330px;
  margin-top: 75px;
  z-index: 1;
}

/*---- FOOTER ----*/
footer {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  margin-top: 15px;
  border: 1px solid #ffffff;
}

/*---- кнопки соцсетей----*/
.network {
  width: 224px;
  margin-left: -13px;
}

.network ul {
  display: flex;
  justify-content: space-between;
}

.network li {
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.network li:hover {
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.network li:active {
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.network li path {
  fill: rgba(255, 255, 255, 0.8);
}

.network li:hover path {
  fill: #ffffff;
}

.network li:active path {
  fill: #e9e9e9;
}

/*---- инфо о компании ----*/
.herat {
  margin-top: -25px;
  margin-left: 30px;
}

.document {
  display: flex;
  width: 400px;
  font-size: 13px;
  font-weight: 100;
  line-height: 1.7;
  text-decoration: underline;
}

.document ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: -33px;
  padding-right: 23px;
}

/*---- HTML Academy ----*/
.logo-academy {
  font-size: 12px;
  font-weight: 100;
  margin-right: 24px;
  margin-top: 10px;
  line-height: 0.3;
}
