/*----- Общие стили -----*/
body {
  width: 1200px;
  height: 2416px;
  margin: 0 auto;
  background-color: #849d8f;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  border: 1px solid #ffffff;
 
}
a {
  text-decoration: none;
}
ol, ul {
	list-style: none;
}

/* ----- Фон - два рожка -----*/
.double-ice {
  width: 647px;
  height: 584px;
  background: url('/Users/nazarovich/it/Project_Gllacy/1065481-gllacy-27/img/top/ice-duoblePNG.png') no-repeat;
}

/* ----- Контейнер для добавок: малина + шоколад -----*/
.additives {
  display: flex;
  justify-content: center;
}

/* ----- Фон Малина -----*/
.raspberries {
  width: 560px;
  height: 220px;
  margin-right: 13px;
  background: url('../img/top/raspberries.png') no-repeat;
  border-radius: 10px;
}

/* ----- Фон Шоколад -----*/
.chocolat {
  width: 560px;
  height: 220px;
  margin-left: 13px;
  background: url('../img/top/chocolate.png') no-repeat;
  border-radius: 10px;
}

 /*----- ХИТ Картинки с мороженным ------------------------*/
.hit img[alt$="hits"] {

}

.hit ul {
   display: flex;
   width: 1165px;
   height: 550px;
   padding: 0;
   margin: 0;
   margin-left: 15px; 
 }

.hit ul li {
  width: 274px;
  height: 274px;
  margin: auto;
 }

 /*----- Фон 'Вафля' для инфо-блока магазина Глейси ------------------------*/
.waffle {
  background: url(../img/info/waffle-big.png) no-repeat;
  width: 1165px;
  margin-left: 27px;

}

h1 {
  top: 5px;
  left: 20px;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color: #323232;
  letter-spacing: normal;
}

.info-shop p {
  line-height: 1.38;
  color: #323232;
}

.info-shop {    /*Контейнер для вафли*/
  display: flex;
  flex-direction: ;
}

.left-one {
  width: 540px;
}

.left-two{
  width: 540px;
}

.right-one {
 width: 540px;
}

.right-two {
 width: 540px;
}

/*----- контейнер для .strawberry(блок клубника) и .subs-ground(блок подписка) ---------------------------*/
.subscription {
  display: flex;
  justify-content: center;
}

/*----- Блок инфо: Клубника "Новое в нашем блоге" -----------------------------------*/
.strawberry {
  display: flex;
  width: 560px;
  height: 220px;
  margin-right: 13px;
}

.straw-ground { /*Фон - клубника*/
  background: url('../img/info/strawberry.png') no-repeat;
  width: 560px;
  height: 220px; 
}

.straw-ground h2 {
  text-decoration: underline;
  margin-left: 19px;
  margin-top: -10px;
  color: #323232;
  line-height: 32px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.straw-ground p {
 color: #000000;
 font-size: 16px;
 margin-left: 19px;
 padding-top: 8px;
}

/*----- Блок подписки: форма, кнопка, текст -----------------------------------*/
.subs-ground{ /*Контейнер подписки*/
  width: 560px;
  height: 220px;
  margin-left: 13px;
}

.back-subs { /*Прочтовый, задний фон блока*/
 display: flex;
 background: url('../img/info/bg-post.svg') no-repeat;
 width: 560px;
 height: 220px; 
}

.front-subs { /*Передний, серый фон блока*/
background: url('../img/info/substrate.png') no-repeat;
width: 552px;
height: 213px; 
margin: auto;
}

.front-subs p { /*Текст в блоке*/
color: #5a5a5a;
line-height: 1.36; 
font-size: 16px;
margin-left: 22px;
margin-top: 29px;
width: 517px;
opacity: 0.8;
}

.form-email {  /*Форма*/
  height: 42px;
  width: 345px;
  border-radius: 5px;
  border: solid 1px rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  padding-left: 15px;
  margin-left: 20px;
  margin-top: 24px;
}

input[type='text']::placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 100;
}

.button-email{ /*Кнопка*/
  display: inline-block;
  width: 129px;
  height: 46px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 35px;
  margin-left: 7px;
}

/*
.left {
  position: absolute;
  top: 95px;
  left: 70px;
  width: 485px;
}
.right{
  position: absolute;
  top: 95px;
  right: 85px;
  width: 480px;
}

.ice {
  position: absolute;
  top: 5px;
  left: -55px;
}
.eco {
  position: absolute;
  top: 100px;
  left: -55px;
}

.cow {
  position: absolute;
  top: 5px;
  left: -55px;
}

.thermometer {
  position: absolute;
  top: 100px;
  left: -55px;
}