/*----- Общие стили -----*/
body {
  width: 1200px;
  margin: 0 auto;
  background-color: #849d8f;
  /*background: url('../img/gllacy-index-1000.svg') no-repeat fixed;*/
  font-family: 'Roboto', 'Tahoma', sans-serif;
  color: #ffffff;
  border: 1px solid #ffffff;
}

nav {
  display: flex;
}

img {
	max-width: 100%;
}

/*----- Логотип -----*/
nav img.logo {
  position: relative;
  padding: 0;
  top: 9px;
  left: 27px;
}

nav img.logo-catalog {
  position: relative;
  padding: 0px;
  top: 9px;
  left: 27px;
}
/*----- Левый блок навигации -----*/
/*-----   Кнопка "Каталог" -----*/
.main-catalog {
  z-index: 1;
  display: flex;
  margin-left: 38px;
}

.main-catalog > ul {
  display: flex;
  margin-top: 23px;
  padding: 0;
}

.main-catalog ul li a {
  display: block;
  padding: 9px 13px 10px 14px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 5px;
}

.main-catalog ul li a:hover {
  color: #333333;
  border-radius: 50px;
}

.main-catalog ul li a:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  margin-left: -18px;
  margin-right: -18px;
  padding-left: 18px;
  padding-right: 18px;
}

.main-catalog li ul {
  background: #f8f7f4;
  position: absolute;
  display: none;
  border-radius: 5px;
  padding-left: 18px;
  padding-right: 18px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  width: 143px;
  min-height: 171px;

}

/*----- Меню в каталоге -----*/
/*----- кнопка каталога -----*/
.main-catalog .page-catalog {
	background-color: #d07058;
	border-radius: 50px;
}

.main-catalog .page-catalog:hover {
	background-color: #d07058;
	color: #f7f6f3;
}

/*----- выбранное подменю каталога -----*/
.main-catalog .on-page,
.main-catalog .on-page:hover,
.main-catalog .on-page:active {
	background-color: #d07058;
	color: #f7f6f3;
  font-weight: normal;
  border-radius: 0px;
  margin-left: -18px;
  margin-right: -18px;
  padding-left: 18px;
  padding-right: 18px;
}
/*----- Общие стили меню -----*/
/*----- Всплывающий список "Новинка" -----*/
.main-catalog a {
  display: block;
  padding: 9px 13px 10px 14px;
  font-size: 16px;
  color: #ffffff;;
  text-decoration: none;
  font-weight: bold;
}

.main-catalog a:hover {
  background: #f7f6f3;
  color: #000000;
  border-radius: 50px;
}

.main-catalog li > ul li a {
  color: #323232;
  background: #f8f7f4;
  box-shadow: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}

.main-catalog li > ul li a:hover {
  background: #FBDED7;
  border-radius: 0px;
  margin-left: -18px;
  margin-right: -18px;
  padding-left: 18px;
  padding-right: 18px;
}

.main-catalog li > ul li a:active {
  background: #F6B5A5;
  box-shadow: none;
}

.main-catalog li > ul li:first-child {
  border-bottom: 1px solid #b1b3b5;
}

.main-catalog li > ul li:first-child a:hover {
  border-radius: 5px 5px 0 0;
}

.main-catalog li > ul li:last-child a:hover {
  border-radius: 0 0 5px 5px;
}

.main-catalog li > ul li:nth-child(2) {
  margin-top: 5px;
}

.main-catalog li:hover > ul {
  display: block;
}

/*---- Правый блок в навигации (поиск, вход, корзина) ----*/
.extra-catalog {
  display: flex;
  margin-left: 320px;
  margin-top: 7px;
}

/*---- текст ниже правого меню ----*/
.contacts {
	width: 170px;
	margin-left: -68px;
	font-weight: bold;
	text-align: right;
}

.time {
  font-size: 14px;
  line-height: 16px;
  padding-top: 5px;
}

 .number {
  font-size: 22px;
  line-height: 24px;
   margin-top: -10px;
 }

.extra-catalog span {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.extra-catalog > ul {
  display: flex;
}

.extra-catalog button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.extra-catalog .entry svg, .extra-catalog .basket svg {
  margin-right: 6px;
}

.extra-catalog .search, .extra-catalog .entry, .extra-catalog .basket {
  margin-right: 9px;
}

.extra-catalog .search:hover, .extra-catalog .entry:hover, .extra-catalog .basket:hover {
  margin-right: 9px;
}

.search {
  width: 33px;
  height: 33px;
}

.entry {
  width: 93px;
  height: 32px;
}

.basket {
  width: 100px;
  height: 32px;
}

/*смена фона кнопок svg*/
.extra-catalog button {
  margin: 0 5px 5px 0;
  border-radius: 50px;
  border: none;
  background: rgba(255,255, 255, 0.2);
  box-shadow: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.extra-catalog button:hover,
.extra-catalog button:active {
  background: #f8f7f4;
  color: #000000;
}

.extra-catalog button:hover path,
.extra-catalog button:active path,
.extra-catalog button:hover circle,
.extra-catalog button:active circle {
  fill: #000000;
}

/*всплытие попапа*/
.extra-catalog ul li:first-child:hover .form-search {
  display:block;
}

.extra-catalog ul li:nth-child(2):hover .form-entry {
  display:block;
}

.extra-catalog ul li:nth-child(3):hover .form-basket {
  display:block;
}
/* ---- Всплывающие формы: поиск, выход, корзина покупок ---- */
/* Форма поиска */
.form-search {
  z-index: 1;
  display: none;
  position: absolute;
  width: 340px;
  height: 84px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  margin-left: -307px;
   background-color: #f8f7f4;
  border-radius: 5px;
}

.form-search input {
  width: 311px;
  height: 47px;
  font-weight: 100;
  font-size: 14px;
  margin: 20px 15px 20px 15px;
  padding-left: 10px;
}

/* Форма входа */
.form-entry {
  z-index: 1;
  display: none;
  position: absolute;
  width: 277px;
  height: 214px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  font-size: 13px;
  color: #999999;
  margin-left: -183px;
}

.form-entry input {
  width: 240px;
  height: 44px;
  margin: 20px 17px 0px 19px;
  margin-top: 20px;
  padding-left: 13px;
}

.form-entry a {
  color: #323232;
  text-decoration: underline;
}

.form-entry p {
  position: absolute;
  font-size: 13px;
  top: 132px;
  left: 140px;
  line-height: 1.85;
  text-align: left;
}

/*Кнопка Войти*/
.form-entry button {
  position: absolute;
  width: 100px;
  height: 46px;
  line-height: 1.33;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
  top: 148px;
  left: 20px;
}

.form-entry button:hover {
  border-radius: 20px;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  background: #F07C63;
  box-shadow: 0 2px 2px 0 #AC1000;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.form-entry button:active {
  border-radius: 20px;
  background-image: linear-gradient(0deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

/* Форма корзины */
.form-basket {
  display: none;
  position: absolute;
  width: 542px;
  height: 245px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  font-size: 22px;
  color: #999999;
  margin-left: -440px;
}

.favorites-basket1, .favorites-basket2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  padding-right: 10px;
}

.favorites-basket1 p, .favorites-basket2 p {
  color: #000000;
  font-size: 13px;
  font-weight: 100;
  text-align: left;
}

.favorites-basket2 {
  margin-top: 5px;
}

.my-ice {
  margin-left: -25px;
  margin-right: -20px;
  align-items: baseline;
}

.form-basket .total {
  position: absolute;
  font-size: 15px;
  line-height: 1.2;
  color: #323232;
  margin-left: 420px;
  margin-top: 35px;
}

.form-basket button {
  position: absolute;
  width: 171px;
  height: 46px;
  line-height: 1.33;
  border-radius: 35px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
  margin-left: 357px;
  margin-top: 65px;
}

.form-basket button:hover {
  border-radius: 35px;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  background: #F07C63;
  box-shadow: 0 2px 2px 0 #AC1000;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
  margin-left: 357px;
  margin-top: 65px;
}

.form-basket button:active {
  border-radius: 35px;
  background-image: linear-gradient(0deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
  margin-left: 357px;
  margin-top: 65px;
}

/*Заголовок каталога*/
.catalog-title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  margin-left: 27px;
}

/*Хлебные крошки*/
.breadcrumbs {
  display: flex;
  align-items: baseline;
  padding: 0;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 2px;
  list-style: none;
  margin-left: 27px;
}
.breadcrumbs li {
	padding-right: 21px;
}

.breadcrumbs a {
	font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-decoration: underline;
}

.last-page {
	font-size: 14px;
  font-weight: normal;
  line-height: 16px;
}

 /*----- RANGE------------------------*/

/* ---- Общий контейнер ---- */
.ranges {
	position: relative;
	width: 870px;
	min-height: 145px;
	padding: 5px;
	margin: 27px;
	border: 1px solid #ffffff;
}

.ranges form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.ranges fieldset {
  border: none;
}

.ranges legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 0;
  margin: 0px 0px 5px 10px;
}

.ranges ul {
  list-style: none;
  padding: 0;
  margin: 0;
  }

 .ranges li {
  padding: 0;
  margin: 0;
 }

.ranges label {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.sorting-ranges,
.price-ranges,
.fat-ranges,
.fillers-ranges {
	position: absolute;
	padding: 0;
  margin: 0;
}

/* ---- Фильтр сортировки---- */
.sorting-ranges {
	width: 194px;
  height: 37px;
  top: 5px;
}

.sorting-ranges select {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(248, 247, 244, 0.2);
  border: none;
}

.sorting-ranges select:hover,
.sorting-ranges select:focus {
  color: #323232;
  background-color: #ffffff;
}

/* ---- Фильтр цены ---- */
.price-ranges {
  width: 220px;
  height: 37px;
  left: 210px;
  top: 5px;
}

.price-ranges li {
  padding: 10px;
}

/* ---- Базовые стили для слайдера---- */
input[type=range] {
  -webkit-appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
  width: 100%;              /* Параметра ширины требуется для Firefox. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Убирает голубую границу у элемента. Не убирать для доступности*/
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
  border-color: transparent;
  color: transparent;
}

/* ---- Оформление ползунка---- */
/* Специальные правила для браузеров на движках WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 22px;
  width: 20px;
  border-radius: 50%;
  background: url('../img_catalog/filter-button.png') no-repeat;
  cursor: pointer;
  margin-top: -10px; /* значение для поля в Chrome */
  margin-bottom: -10px;
}

/* для Firefox */
input[type=range]::-moz-range-thumb {
  height: 22px;
  width: 20px;
  border-radius: 50%;
  background: url('../img_catalog/filter-button.png') no-repeat;
  cursor: pointer;
  margin-top: -10px;
  margin-bottom: -10px;
}

/* для IE */
input[type=range]::-ms-thumb {
  height: 22px;
  width: 20px;
  border-radius: 50%;
  background: url('../img_catalog/filter-button.png') no-repeat;
  cursor: pointer;
  margin-top: -10px;
  margin-bottom: -10px;
}

/* ---- Оформление полосы диапазона---- */

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #eeeeee;

}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ffffff;

}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}

/* ---- Фильтр жирности ---- */
.fat-ranges {
	width: 415px;
  height: 37px;
  right: 5px;
  top: 5px;
}

.fat-ranges li {
	padding: 10px;
}

.fat-ranges .radio-ranges-fat {
	display: flex;
}

/* ---- Фильтр наполнителей ---- */
.fillers-ranges {
	width: 703px;
  height: 37px;
  bottom: 25px;
}

.fillers-ranges li {
	padding: 10px;
}

.fillers-ranges .checkbox-ranges-fillers {
	display: flex;
}

.radio-ranges-fat,
.checkbox-ranges-fillers,
.filter-ranges-price {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

/* ---- Кнопка применения фильтра ---- */
.ranges-button {
	position: absolute;
	width: 144px;
	height: 37px;
	right: 5px;
	bottom: 5px;
  display: inline-block;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid  #ffffff;
  border-radius: 20px;
}

.ranges-button:hover,
.ranges-button:focus {
  color: #323232;
  background-color: #ffffff;
}

.ranges-button:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

/* ----- Фон два рожка -----*/
/*  не реализованы слайдер*/
.double-ice {
  width: 647px;
  height: 584px;
  margin: auto;
}

.ice-backgorund {
  position: relative;
  width: 1065px;
  height: 859px;
  margin: auto;
  bottom: 170px;
}

.photo-duoble {
  position: relative;
  bottom: 925px;
}

.double-ice p {
  position: relative;
  bottom: 1263px;
  right: 29px;
  width: 701px;
  height: 116px;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}

/*Кнопка - Давайте оба*/
.button-double {
  position: relative;
  bottom: 1263px;
  width: 280px;
  height: 64px;
  font-size: 32px;
  line-height: 1.38;
  border-radius: 35px;
  margin-left: 183px;
  margin-top: -33px;
}

/* ----- кнопки  для переключения слайдов в карусели -----*/

.next-slide {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  position: relative;
  bottom: 1307px;
  right: 248px;
  width: 80px;
  height: 20px;
  border: 1px solid #ffffff;
}

/* ----- Контейнер для добавок: малина + шоколад -----*/
.additives {
  display: flex;
  justify-content: center;
  margin-top: -82px;
}

/* ----- Фон Малина -----*/
.raspberries {
  z-index: 1;
  width: 560px;
  height: 230px;
  margin-right: 13px;
  background: url('../img/top/raspberries.png') no-repeat;
  border-radius: 10px;
}

/*Кнопка - Хочу варенья*/
.button-raspberries {
  display: inline-block;
  width: 166px;
  height: 49px;
  line-height: 24px;
  border-radius: 35px;
  margin-top: 40px;
  margin-left: 374px;
}

/* ----- Фон Шоколад -----*/
.chocolat {
  z-index: 1;
  width: 560px;
  height: 230px;
  margin-left: 13px;
  background: url('../img/top/chocolate.png') no-repeat;
  border-radius: 10px;
}

/*Кнопка - Хочу шоколадки*/
.button-chocolat {
  display: inline-block;
  width: 190px;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 35px;
  margin-top: 40px;
  margin-left: 350px;
}

.raspberries p, .chocolat p {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0px 22px;
}

.raspberries h2, .chocolat h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  color: #ffffff;
  margin-left: 22px;
  margin-top: 15px;
  margin-bottom: 20px;ß
}

  /*----- ХИТ Картинки с мороженным ------------------------*/
.hit {
  width: 1200px;
}

.hit-catalog {
  width: 1200px;
  min-height: 1114px;

}

.hit ul {
	padding: 0;
	margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-around;
}

.hit ul li {
	padding: 0;
	margin: 0;
  width: 293px;

}

.box img {
	width: 267px;
  height: 267px;
	margin: 0;
	padding: 0;
  margin-top: 6px;
  margin-left: 13px;
  margin-right: 14px;
  margin-bottom: 16px;

}

.hit img[alt$="hits"] {
  position: absolute;
  	width: 61px;
    height: 61px;
    padding: 0;
    margin: 10px 0px 0px 10px;
}

.hit span {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  text-decoration: none;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}

.hit b {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
}

.hit p {
	width: 253px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 22px;
  text-align: center;
  padding: 0px;
  margin: auto;
  margin-top: -20px;
}

.cost {
  margin: -55px 0px 30px 10px;
}

a {
	position: relative;
  color: #ffffff;
  text-decoration: none;
}

.box {
/*position: absolute;*/
  display: flex;
  flex-direction: column;
}

.box:hover {
  width: 293px;
  background: rgba(255,255,255,0.20);
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
  border-radius: 5px;
  padding-bottom: 15px;
}

.button-hit {
  width: 203px;
  height: 46px;
  margin: 10px 0px 0px 40px;
}

.button-hit {
  display: none;
}

.hit ul li:hover .button-hit {
  display:block;
}

 /*----- Фон 'Вафля' для инфо-блока магазина Глейси ------------------------*/
.waffle {
  background: url(../img/info/waffle-big.png) no-repeat;
  width: 1165px;
  margin-left: 27px;
  margin-bottom: 35px;
}

 h1 {
  padding-top: 20px;
  padding-left: 20px;
  left: 20px;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
}

/*Контейнер для вафли*/
.info-shop {
  display: flex;
}

.info-shop ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.left, .right {
  width: 555px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.info-shop li {
  margin-left: 35px;
  margin-top: -45px;
}

.info-shop img {
  margin-left: 20px;
  margin-bottom: -20px;
}

/*----- контейнер для .strawberry(блок клубника) и .subs-ground(блок подписка) ---------------------------*/
.subscription {
  display: flex;
  justify-content: center;
}

/*----- Блок инфо: Клубника "Новое в нашем блоге" -----------------------------------*/
.strawberry {
  display: flex;
  width: 560px;
  height: 220px;
  margin-right: 13px;
}

.straw-ground { /*Фон - клубника*/
  background: url('../img/info/strawberry.png') no-repeat;
  width: 560px;
  height: 220px;
}

.straw-ground a {
  color: #323232;
  line-height: 30px;
}

.straw-ground a:link, .straw-ground a:hover {
  color: #F07B63;
}

.straw-ground h2 {
  text-decoration: underline;
  margin-left: 19px;
  margin-top: -10px;
  color: #323232;
  line-height: 32px;
  font-size: 24px;
  font-weight: bold;
}

.straw-ground p {
  color: #323232;
  font-size: 16px;
  margin-left: 19px;
  padding-top: 8px;
  line-height: 22px;
}

/*----- Блок подписки: форма, кнопка, текст -----------------------------------*/
/*Контейнер подписки*/
.subs-ground {
  width: 560px;
  height: 220px;
  margin-left: 13px;
}

/*Прочтовый, задний фон блока*/
.back-subs {
  display: flex;
  background: url('../img/info/bg-post.svg') no-repeat;
  width: 560px;
  height: 220px;
}

/*Передний, серый фон блока*/
.front-subs {
  background: url('../img/info/substrate.png') no-repeat;
  width: 552px;
  height: 213px;
  margin: 5px;

}

/*Текст в блоке*/
.front-subs p {
  color: #5a5a5a;
  line-height: 22px;
  font-size: 16px;
  margin-left: 22px;
  margin-top: 29px;
  width: 517px;
  opacity: 0.8;
}

/*Форма*/
.form-email {
  height: 42px;
  width: 345px;
  border-radius: 5px;
  border: solid 1px rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  padding-left: 15px;
  margin-left: 20px;
  margin-top: 24px;
}

input[type='email']::placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 100;
}

/*Кнопка обратной связи*/
.front-subs button {
  display: inline-block;
  width: 130px;
  margin-top: 18px;
  margin-left: 7px;
  line-height: 24px;
}

/* ----- Блок карты ----- */

/* Форма обратной связи */
.content {
  font-size: 18px;
  width: 230px;
  font-weight: bold;
  line-height: 24px;
  margin-top: -10px;
}

.contact {
  display: inline-block;
  width: 304px;
  height: 305px;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  padding: 13px 0px 15px 25px;
}

.contact p:nth-child(5) {
  margin-top: -15px;
}

/*Кнопка обратной связи*/
.button-contact {
  display: inline-block;
  width: 254px;
  height: 44px;
  line-height: 20px;
  border-radius: 35px;
  margin-top: 12px;
}

/*----  Карта  ----*/
.map {
  width: auto;
  height: 430px;
  margin-top: 41px;
}

.foto-map {
  position: relative;
}

/*----  Иконка рожка на карте  ----*/
.icon-map {
  position: absolute;
  margin-top: -315px;
  margin-left: 270px;
  z-index: 2;
}

.contact {
  position: absolute;
  margin-left: -330px;
  margin-top: 75px;
  z-index: 1;
}

/*---- FOOTER ----*/
footer {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  margin-top: 15px;
  border: 1px solid #ffffff;
}

/*---- кнопки соцсетей----*/
.network {
  width: 224px;
  margin-left: -13px;
}

.network ul {
  display: flex;
  justify-content: space-between;
}

.network li {
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.network li:hover {
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.network li:active {
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.network li path {
  fill: rgba(255, 255, 255, 0.8);
}

.network li:hover path {
  fill: #ffffff;
}

.network li:active path {
  fill: #e9e9e9;
}

/*---- инфо о компании ----*/
.herat {
  margin-top: -25px;
  margin-left: 30px;
}

.document {
  display: flex;
  width: 400px;
  font-size: 13px;
  font-weight: 100;
  line-height: 22px;
  text-decoration: underline;
}

.document ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: -33px;
  padding-right: 23px;
}

.document ul strong {
	font-weight: bold;
}

.document ul a {
	line-height: 18px;
	font-weight: normal;
}

/*---- HTML Academy ----*/
.logo-academy {
  font-weight: 100;
  margin-right: 24px;
  margin-top: 10px;
}

.logo-academy p {
	font-size: 12px;
	line-height: 16px;
	color: #fefefe;
  margin-top: 0px;
}

.logo-academy p a {
	text-decoration: underline;
}

/*----  Форма "Мы обязательно с вами свяжемся" ----*/
.form-answer {
  display: none;
  z-index: 1;
  position: fixed;
  width: 478px;
  min-height: 443px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 10px;
  padding: 20px 0px 0px 24px;
  left: 50%;
  margin-left: -240px;
  top: 337px;
}

.form-answer p {
  position: absolute;
  font-size: 24px;
  margin: 0;
  color: #000000;
  font-weight: 500;
}

.name-answer {
	 position: absolute;
	top: 40px;
  font-size: 16px;
  line-height: 1.71;
  color: #999999;
  font-weight: 100;
}

.form-answer input {
	position: absolute;
  width: 267px;
  height: 45px;
  border-radius: 5px;
  padding: 13px;
  font-weight: 100;
}

.name-answer {
	position: absolute;
  top: 60px;
}

.email-answer {
  position: absolute;
  top: 125px;
}

.text-answer {
	position: absolute;
  border: solid 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  font-size: 16px;
  padding: 13px;
  font-size: 16px;
  color: #999999;
  font-weight: 100;
  top: 170px;
}

.text-answer:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
}

.form-answer button {
  position: absolute;
  width: 140px;
  height: 43px;
  border-radius: 25px;
  right: 25px;
  bottom: 27px;
}

.close button {
  position: absolute;
  top: 18px;
  right: 17px;
  width: 18px;
  height: 18px;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: #f8f7f4;
  box-shadow: none;
}
