/*----- Общие стили -----*/
body {
  width: 1200px;
  margin: 0 auto;
  background-color: #849d8f;
  /*background: url('../img/gllacy-index-1000.svg') no-repeat fixed;*/
  font-family: 'Roboto', 'Tahoma', sans-serif;
  color: #ffffff;
}

/*----- Button -----*/
button {
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 25px;
  height: 43px;
}

button:hover {
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  background: #F07C63;
  box-shadow: 0 2px 2px 0 #AC1000;
}

button:active {
  background-image: linear-gradient(0deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
  outline: none;
}

button:not:active {
	outline: none;
}

/*----- input -----*/
input {
  border: solid 1px rgba(178, 178, 178, 0.52);
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

input:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
}

input:focus {
  border: solid 2px rgba(46, 136, 228, 0.52);
}

nav {
  display: flex;
}

img {
	max-width: 100%;
}

/*----- Логотип -----*/
nav img.logo {
  position: relative;
  padding: 0;
  top: 9px;
  left: 27px;
}

nav img.logo-catalog {
  position: relative;
  padding: 0px;
  top: 9px;
  left: 27px;
}

/*----- Левый блок навигации -----*/
/*-----   Кнопка "Каталог" -----*/
.main-catalog {
  z-index: 1;
  display: flex;
  margin-left: 38px;
}

.main-catalog > ul {
  display: flex;
  margin-top: 23px;
  padding: 0;
}

.main-catalog ul li a {
	position:relative;
  display: block;
  padding: 9px 13px 10px 14px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 5px;
}

.main-catalog ul li a:hover {
  color: #333333;
  border-radius: 50px;
}

.main-catalog ul li a:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.main-catalog li ul {
  background: #f8f7f4;
  position: absolute;
  display: none;
  border-radius: 5px;
  padding-left: 18px;
  padding-right: 18px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  width: 143px;
  min-height: 171px;
}

.main-catalog ul li a::before {
	position: absolute;
	content:'';
	height: 1px;
	background-color: rgba(255,255,255, 0.2);
	width: calc(100% - 27px);
	bottom: 10px;
}

/*----- Меню в каталоге -----*/
/*----- кнопка каталога -----*/
.main-catalog .page-catalog {
	background-color: #d07058;
	border-radius: 50px;
}

.main-catalog .page-catalog:hover {
	background-color: #d07058;
	color: #f7f6f3;
}

/*----- выбранное подменю каталога -----*/
.main-catalog .on-page,
.main-catalog .on-page:hover,
.main-catalog .on-page:active {
	background-color: #d07058;
	color: #f7f6f3;
  font-weight: normal;
  border-radius: 0px;
  margin-left: -18px;
  margin-right: -18px;
  padding-left: 18px;
  padding-right: 18px;
}
/*----- Общие стили меню -----*/
/*----- Всплывающий список "Новинка" -----*/
.main-catalog a {
  display: block;
  padding: 9px 13px 10px 14px;
  font-size: 16px;
  color: #ffffff;;
  text-decoration: none;
  font-weight: bold;
}

.main-catalog a:hover {
  background: #f7f6f3;
  color: #000000;
  border-radius: 50px;
}

.main-catalog li > ul li a {
  color: #323232;
  background: #f8f7f4;
  box-shadow: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0px;
    margin-left: -18px;
  margin-right: -18px;
  padding-left: 18px;
  padding-right: 18px;
}

.main-catalog li > ul li a:hover {
  background: #FBDED7;
  border-radius: 0px;
  margin-left: -18px;
  margin-right: -18px;
  padding-left: 18px;
  padding-right: 18px;
}

.main-catalog li > ul li a:active {
  background: #F6B5A5;
  box-shadow: none;
}

.main-catalog li > ul li:first-child {
  border-bottom: 1px solid #b1b3b5;
}

.main-catalog li > ul li:first-child a,
.main-catalog li > ul li:first-child a:hover {
  border-radius: 5px 5px 0 0;
}

.main-catalog li > ul li:last-child a,
.main-catalog li > ul li:last-child a:hover {
  border-radius: 0 0 5px 5px;
}

.main-catalog li > ul li:nth-child(2) {
  margin-top: 5px;
}

.main-catalog li:hover > ul {
  display: block;
}

/*---- Правый блок в навигации (поиск, вход, корзина) ----*/
.extra-catalog {
  display: flex;
  margin-left: 320px;
  margin-top: 7px;
}

/*---- текст ниже правого меню ----*/
.contacts {
	width: 170px;
	margin-left: -68px;
	font-weight: bold;
	text-align: right;
}

.time {
  font-size: 14px;
  line-height: 16px;
  padding-top: 5px;
}

 .number {
  font-size: 22px;
  line-height: 24px;
  margin-top: -10px;
 }

.extra-catalog span {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.extra-catalog > ul {
  display: flex;
}

.extra-catalog button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.extra-catalog .entry svg,
.extra-catalog .basket svg {
  margin-right: 6px;
}

.extra-catalog .search,
.extra-catalog .entry,
.extra-catalog .basket {
  margin-right: 9px;
}

.extra-catalog .search:hover,
.extra-catalog .entry:hover,
.extra-catalog .basket:hover {
  margin-right: 9px;
}

.search {
  width: 33px;
  height: 33px;
}

.entry {
  width: 93px;
  height: 32px;
}

.basket {
  width: 100px;
  height: 32px;
}

/*смена фона кнопок svg*/
.extra-catalog button {
  margin: 0 5px 5px 0;
  border-radius: 50px;
  border: none;
  background: rgba(255,255, 255, 0.2);
  box-shadow: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.extra-catalog button:hover,
.extra-catalog button:active {
  background: #f8f7f4;
  color: #000000;
}

.extra-catalog button:hover path,
.extra-catalog button:active path,
.extra-catalog button:hover circle,
.extra-catalog button:active circle {
  fill: #000000;
}

/*всплытие попапа*/
.extra-catalog ul li:first-child:hover .form-search {
  display:block;
}

.extra-catalog ul li:nth-child(2):hover .form-entry {
  display:block;
}

.extra-catalog ul li:nth-child(3):hover .form-basket {
  display:block;
}
/* ---- Всплывающие формы: поиск, выход, корзина покупок ---- */
/* Форма поиска */
.form-search {
  z-index: 1;
  display: none;
  position: absolute;
  width: 340px;
  height: 84px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  margin-left: -307px;
   background-color: #f8f7f4;
  border-radius: 5px;
}

.form-search input {
  width: 311px;
  height: 47px;
  font-weight: 100;
  font-size: 14px;
  margin: 20px 15px 20px 15px;
  padding-left: 10px;
}

/* Форма входа */
.form-entry {
  z-index: 1;
  display: none;
  position: absolute;
  width: 277px;
  height: 214px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  font-size: 13px;
  color: #999999;
  margin-left: -183px;
}

.form-entry input {
  width: 240px;
  height: 44px;
  margin: 20px 17px 0px 19px;
  margin-top: 20px;
  padding-left: 13px;
}

.form-entry a {
  color: #323232;
  text-decoration: underline;
}

.form-entry p {
  position: absolute;
  font-size: 13px;
  top: 132px;
  left: 140px;
  line-height: 1.85;
  text-align: left;
}

/*Кнопка Войти*/
.form-entry button {
  position: absolute;
  width: 100px;
  height: 46px;
  line-height: 1.33;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
  top: 148px;
  left: 20px;
}

.form-entry button:hover {
  border-radius: 20px;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  background: #F07C63;
  box-shadow: 0 2px 2px 0 #AC1000;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.form-entry button:active {
  border-radius: 20px;
  background-image: linear-gradient(0deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

/* Форма корзины */
.form-basket {
  display: none;
  position: absolute;
  width: 542px;
  height: 245px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  font-size: 22px;
  color: #999999;
  margin-left: -440px;
}

.favorites-basket1, .favorites-basket2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  padding-right: 10px;
}

.favorites-basket1 p,
.favorites-basket2 p {
  color: #000000;
  font-size: 13px;
  font-weight: 100;
  text-align: left;
}

.favorites-basket1 span,
.favorites-basket2 span {
	color: #999999;
	font-size: 13px;
	line-height: 16px;
	font-weight: 100;
}

.favorites-basket2 {
  margin-top: 5px;
}

.my-ice {
  margin-left: -25px;
  margin-right: -20px;
  align-items: baseline;
}

.form-basket .total {
  position: absolute;
  font-size: 15px;
  line-height: 1.2;
  color: #323232;
  margin-left: 420px;
  margin-top: 35px;
  font-weight: bold;
}

.form-basket button {
  position: absolute;
  width: 171px;
  height: 46px;
  line-height: 1.33;
  border-radius: 35px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
  margin-left: 357px;
  margin-top: 65px;
}

.form-basket button:hover {
  border-radius: 35px;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  background: #F07C63;
  box-shadow: 0 2px 2px 0 #AC1000;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
  margin-left: 357px;
  margin-top: 65px;
}

.form-basket button:active {
  border-radius: 35px;
  background-image: linear-gradient(0deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 18px;
  margin-left: 357px;
  margin-top: 65px;
}

/*Заголовок каталога*/
.catalog-title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  margin-left: 27px;
}

/*Хлебные крошки*/
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -60px 0px 5px 27px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li,
.breadcrumbs a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li {
  position: relative;

  margin-right: 20px;
}

.breadcrumbs li:not(:last-child)::after {
	content: '';
	height: 1px;
	background-color: rgba(255,255,255, 0.2);
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.breadcrumbs li::after {
  content: "»";
  position: absolute;
  top: 5px;
  right: -12px;

  width: 6px;
  height: 6px;

  font-size: 15px;
  line-height: 5px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.last-page::after {
  display: none;
}

 /*----- RANGE------------------------*/

/* ---- Общий контейнер ---- */
.ranges {
	position: relative;
	width: 870px;
	min-height: 145px;
	padding: 5px;
	margin: 27px;
}

.ranges form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.ranges fieldset {
  border: none;
}

.ranges legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 0;
  margin: 0px 0px 5px 10px;
}

.ranges ul {
  list-style: none;
  padding: 0;
  margin: 0;
  }

 .ranges li {
  padding: 0;
  margin: 0;
 }

.ranges label {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.sorting-ranges,
.price-ranges,
.fat-filter,
.fillers-ranges {
	position: absolute;
	padding: 0;
  margin: 0;
}

/* ---- Фильтр сортировки---- */
.sorting-ranges {
	width: 196px;
  top: 5px;
}

.sorting-ranges select[name="sorting"] {
  box-sizing: border-box;
  height: 39px;
  padding: 8px 15px;
  padding-right: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(248, 247, 244, 0.2);
  background-image: url("../img_catalog/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 92% 50%;
  border: none;
  border-radius: 20px;
  transition: all 0.2s ease;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sorting-ranges select[name="sorting"]::-ms-expand {
  display: none;
}

.sorting-ranges select[name="sorting"]::before {
  content: "";
  background-image: url("../img_catalog/icon-down-dir-black.svg");
  visibility: hidden;
}

.sorting-ranges select[name="sorting"]:hover,
.sorting-ranges select[name="sorting"]:focus {
  color: #323232;
  background-image: url("../img_catalog/icon-down-dir-black.svg");
  cursor: pointer;
}

.sorting-ranges select[name="sorting"]:focus {
  background-color: #ffffff;
  outline: none;
}

/* ---- Фильтр цены ---- */

.price-ranges {
 width: 222px;
  height: 39px;
  left: 210px;
  top: 5px;
}

.parametr input {
  box-sizing: border-box;
  width: 24px;
  padding: 0;
  font: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: transparent;
  border: none;
  box-shadow: none;
}

.parametr input:hover,
.parametr input:focus {
  box-shadow: none;
}

.range-controls {
  position: relative;
  box-sizing: border-box;
  width: 220px;
  height: 35px;
  padding: 15px 20px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
}

.range-controls .scale {
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  width: 50%;
  height: 4px;
  background-color: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top: 7px;
  left: 0;
  width: 6px;
  height: 6px;
  padding: 0;
  background-color: #ababab;
  border: 10px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.range-controls .toggle-min {
  left: 34px;
}

.range-controls .toggle-min:hover {
  left: 32px;
}

.range-controls .toggle-max {
  left: 132px;
}

.range-controls .toggle-max:hover {
  left: 130px;
}

.toggle::before {
	content: "";
	width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50%;
  left: -2px;
  position: absolute;
  top: -2px;
}

/* ---- Фильтр жирности и наполнителей ---- */

.radio-ranges-fat,
.checkbox-ranges-fillers {
  display: flex;
}

.fat-filter {
  width: 415px;
  height: 39px;
  right: 10px;
  top: 5px;
}

.fat-filter li {
  padding: 9px 0px 9px 0px;
  margin-left: 13px;
}

.filter-option label {
  margin-left: 30px;
  margin-right: -8px;
}

.fillers-ranges {
  width: 703px;
  height: 37px;
  bottom: 25px;
}

.fillers-ranges li {
    padding: 9px 14px 9px 4px;
  margin-left: 14px;
}

.radio-ranges-fat,
.checkbox-ranges-fillers,
.filter-ranges-price,
.ranges-button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-option {
  position: relative;
  margin-right: 22px;
  padding-left: 32px;
}

.fat-filter .filter-option {
  margin-right: 16px;
}

.filter-option:last-child {
  margin-right: 0;
}

.filter-option label {
  display: block;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  transition: all 0.2s ease;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-option label:hover,
.filter-option label:focus {
  color: #323232;
}

.filter-input-radio + label::before,
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.8;
}

.filter-input-radio + label::before {
  width: 22px;
  height: 22px;
  background-image: url("../img_catalog/radio-off.png");
  transition: all 0.2s ease;
}

.filter-input-checkbox + label::before {
  width: 20px;
  height: 20px;
  background-image: url("../img_catalog/checkbox-off.png");
  transition: all 0.2s ease;
}

.filter-input-radio + label:hover::before,
.filter-input-checkbox + label:hover::before {
  opacity: 1;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img_catalog/radio-on.png");
}

.filter-input-checkbox:checked + label::before {
  width: 24px;
  height: 20px;
  background-image: url("../img_catalog/checkbox-on.png");
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label {
  cursor: no-drop;
  opacity: 0.4;
}

.filter-input-radio:disabled + label:hover,
.filter-input-checkbox:disabled + label:hover {
  color: #ffffff;
}

.filter-input-radio:disabled + label:hover::before,
.filter-input-checkbox:disabled + label:hover::before {
  opacity: 0.8;
}

.filter-input-radio:focus + label::before,
.filter-input-checkbox:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* ---- Кнопка применения фильтра ---- */
.ranges-button {
	position: absolute;
	width: 144px;
	height: 37px;
	right: 5px;
	bottom: 5px;
  display: inline-block;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-image: none;
  box-shadow: none;
  border: 2px solid  #ffffff;
  border-radius: 20px;
}

.ranges-button:hover,
.ranges-button:focus {
  color: #323232;
  background-color: #ffffff;
  box-shadow: none;
}

.ranges-button:active {
  color: #323232;
  background: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  border: none;
}

/* ----- Фон два рожка -----*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/top/1slider.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/top/2slider.png");
}


.site-wrapper::after {
  background-image: url("../img/top/3slider.png");
}

.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-top: -85px;
  padding-bottom: 25px;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 12px 44px;
  margin-bottom: 120px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 140px;
  margin-left: 30px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/top/1slider.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/top/2slider.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/top/3slider.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/* ----- Контейнер для добавок: малина + шоколад -----*/
.additives {
  display: flex;
  justify-content: center;
  margin-top: -82px;
}

/* ----- Фон Малина -----*/
.raspberries {
  z-index: 1;
  width: 560px;
  height: 230px;
  margin-right: 13px;
  background: url('../img/top/raspberries.png') no-repeat;
  border-radius: 10px;
}

/*Кнопка - Хочу варенья*/
.button-raspberries {
  display: inline-block;
  width: 166px;
  height: 49px;
  line-height: 24px;
  border-radius: 35px;
  margin-top: 20px;
  margin-left: 374px;
}

/* ----- Фон Шоколад -----*/
.chocolat {
  z-index: 1;
  width: 560px;
  height: 230px;
  margin-left: 13px;
  background: url('../img/top/chocolate.png') no-repeat;
  border-radius: 10px;
}

/*Кнопка - Хочу шоколадки*/
.button-chocolat {
  display: inline-block;
  width: 190px;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 35px;
  margin-top: 20px;
  margin-left: 350px;
}

.raspberries p, .chocolat p {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-right: 7px;
  font-weight: bold;
  margin-left: 20px;
}

.raspberries h2, .chocolat h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  color: #ffffff;
  margin-left: 22px;
  margin-top: 15px;
  margin-bottom: 20px;ß
}

  /*----- ХИТ Картинки с мороженным ------------------------*/
.hit {
  width: 1200px;
}

.hit-catalog {
  width: 1200px;
  min-height: 1114px;

}

.hit ul {
	padding: 0;
	margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-around;
}

.hit ul li {
	padding: 0;
	margin: 0;
  width: 293px;

}

.box img {
	width: 267px;
  height: 267px;
	margin: 0;
	padding: 0;
  margin-top: 6px;
  margin-left: 13px;
  margin-right: 14px;
  margin-bottom: 16px;

}

.hit img[alt$="hits"] {
  position: absolute;
  	width: 61px;
    height: 61px;
    padding: 0;
    margin: 10px 0px 0px 10px;
}

.hit span {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  text-decoration: none;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}

.hit b {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
}

.hit p {
	position: relative;
	width: 253px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 22px;
  text-align: center;
  padding: 0px;
  margin: auto;
  margin-top: -20px;
}

.hit p::before {
	position: absolute;
	content: '';
	height: 1px;
	background-color: rgba(255,255,255, 0.2);
	width: 100%;
	bottom: 0;
	left: 0;
}

.hit p::after {
	position: absolute;
	content: '';
  height: 1px;
  background-color: rgba(255,255,255, 0.2);
  width: 84%;
  top: 20px;
  left: 21px;
}

.cost {
  margin: -55px 0px 30px 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.box:not(:first-child) {

}

.box:hover {
	position: absolute;
  width: 293px;
  min-height: 405px;
  background: rgba(255,255,255,0.20);
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
  border-radius: 5px;
  padding-bottom: 15px;
}

.button-hit {
  width: 203px;
  height: 46px;
  margin: 10px 0px 0px 45px;
}

.button-hit {
  display: none;
}

.hit ul li:hover .button-hit {
  display:block;
}

 /*----- Фон 'Вафля' для инфо-блока магазина Глейси ------------------------*/
.waffle {
  background: url(../img/info/waffle-big.png) no-repeat;
  width: 1165px;
  margin-left: 27px;
  margin-bottom: 35px;
}

 h1 {
  padding-top: 20px;
  padding-left: 20px;
  left: 20px;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
}

/*Контейнер для вафли*/
.info-shop {
  display: flex;
}

.info-shop ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.left, .right {
  width: 555px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.info-shop li {
  margin-left: 35px;
  margin-top: -45px;
}

.info-shop img {
  margin-left: 20px;
  margin-bottom: -20px;
}

/*----- контейнер для .strawberry(блок клубника) и .subs-ground(блок подписка) ---------------------------*/
.subscription {
  display: flex;
  justify-content: center;
}

.strawberry {
  display: flex;
  width: 560px;
  height: 220px;
  margin-right: 13px;
}

.straw-ground { /*Фон - клубника*/
  background: url('../img/info/strawberry.png') no-repeat;
  width: 560px;
  height: 220px;
}

.straw-ground a {
  color: #323232;
  line-height: 30px;
  width: 281px;
  display: block;
}

.straw-ground a:link,
.straw-ground a:hover {
  color: #F07B63;
}

.straw-ground h2 {
  text-decoration-skip-ink: none;
  margin-left: 19px;
  margin-top: -10px;
  color: #323232;
  line-height: 32px;
  font-size: 24px;
  font-weight: bold;
}

.straw-ground p {
  color: #323232;
  font-size: 16px;
  margin-left: 19px;
  padding-top: 8px;
  line-height: 22px;
}

/*----- Блок подписки: форма, кнопка, текст -----------------------------------*/
/*Контейнер подписки*/
.subs-ground {
  width: 560px;
  height: 220px;
  margin-left: 13px;
}

/*Прочтовый, задний фон блока*/
.back-subs {
  display: flex;
  background: url('../img/info/bg-post.svg') no-repeat;
  width: 560px;
  height: 220px;
}

/*Передний, серый фон блока*/
.front-subs {
  background: url('../img/info/substrate.png') no-repeat;
  width: 552px;
  height: 213px;
  margin: 5px;

}

/*Текст в блоке*/
.front-subs p {
  color: #5a5a5a;
  line-height: 22px;
  font-size: 16px;
  margin-left: 22px;
  margin-top: 29px;
  width: 517px;
  opacity: 0.8;
}

/*Форма*/
.form-email {
  height: 42px;
  width: 345px;
  border-radius: 5px;
  border: solid 1px rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  padding-left: 15px;
  margin-left: 20px;
  margin-top: 24px;
}

input[type='email']::placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 100;
}

/*Кнопка обратной связи*/
.front-subs button {
  display: inline-block;
  width: 130px;
  margin-top: 18px;
  margin-left: 7px;
  line-height: 24px;
}

/* ----- Блок карты ----- */

/* Форма обратной связи */
.content {
  font-size: 18px;
  width: 230px;
  font-weight: bold;
  line-height: 24px;
  margin-top: -10px;
}

.contact {
  display: inline-block;
  width: 304px;
  height: 305px;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  padding: 13px 0px 15px 25px;
}

.contact p:nth-child(5) {
  margin-top: -15px;
}

/*Кнопка обратной связи*/

.button-contact {
  display: inline-block;
  width: 254px;
  height: 44px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  border-radius: 35px;
  margin-top: 12px;
  padding-top: 10px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button-contact:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-contact:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*----  Карта  ----*/
.map {
  width: auto;
  height: 430px;
  margin-top: 41px;
}

.foto-map {
  position: relative;
}

/*----  Иконка рожка на карте  ----*/
.icon-map {
  position: absolute;
  margin-top: -315px;
  margin-left: 270px;
  z-index: 2;
}

.contact {
  position: absolute;
  margin-left: -330px;
  margin-top: 75px;
  z-index: 1;
}

/*---- номера страниц на сайте ----*/
.site-pages {
	width: 167px;
	display: flex;
	justify-content: space-around;
	margin-left: 995px;
	margin-top: 45px;
}

.site-pages li a {
	padding: 5px 10px 5px 10px;
	border-radius: 50px;
	color: #ffffff;
}

.site-pages li a:hover {
	color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.site-pages li a:active {
	color: #000000;
  background-color: #ffffff;
}

.site-pages li:nth-child(2) a {
	background-color: #ffffff;
	color: #000000;
	padding: 5px 10px 5px 10px;
	border-radius: 50px;
}

.site-pages li:nth-child(1) a {
	background-color: transparent;
	border-radius: 0px;
	margin-right: 15px;
}

.site-pages li:nth-child(7) a {
	background-color: transparent;
	border-radius: 0px;
}

/*---- FOOTER ----*/
footer {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  margin-top: 15px;
}

/*---- кнопки соцсетей----*/
.network {
  width: 224px;
  margin-left: -13px;
}

.network ul {
  display: flex;
  justify-content: space-between;
}

.network li {
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.network li:hover {
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.network li:active {
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.network li path {
  fill: rgba(255, 255, 255, 0.8);
}

.network li:hover path {
  fill: #ffffff;
}

.network li:active path {
  fill: #e9e9e9;
}

/*---- инфо о компании ----*/
.herat {
  margin-top: -25px;
  margin-left: 30px;
}

.document {
  display: flex;
  width: 400px;
  font-size: 13px;
  font-weight: 100;
  line-height: 22px;
}

.document ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: -33px;
  padding-right: 23px;
}

.document ul strong {
	font-weight: bold;
}

.document ul a {
	position: relative;
	line-height: 18px;
	font-weight: normal;
}

.document ul a::before {
	content: '';
	height: 1px;
	background-color: rgba(255,255,255, 0.2);
	width: 100%;
	position: absolute;
	bottom: 0px;
}

/*---- HTML Academy ----*/
.logo-academy {
  font-weight: 100;
  margin-right: 24px;
  margin-top: 10px;
}

.logo-academy p {
	font-size: 12px;
	line-height: 16px;
	color: #fefefe;
  margin-top: 0px;
}

.logo-academy p a {
	text-decoration: underline;
}

/*----  Форма "Мы обязательно с вами свяжемся" ----*/

.modal-show {
	display: block;
}

.form-answer {
  display: none;
  z-index: 1;
  position: fixed;
  width: 478px;
  min-height: 443px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 10px;
  padding: 20px 0px 0px 24px;
  left: 50%;
  margin-left: -240px;
  top: 337px;
}

.form-answer p {
  position: absolute;
  font-size: 24px;
  margin: 0;
  color: #000000;
  font-weight: 500;
}

.name-answer {
	position: absolute;
	top: 40px;
  font-size: 16px;
  line-height: 1.71;
  color: #999999;
  font-weight: 100;
}

.form-answer input {
	position: absolute;
  width: 267px;
  height: 45px;
  border-radius: 5px;
  padding: 13px;
  font-weight: 100;
}

.name-answer {
	position: absolute;
  top: 60px;
}

.email-answer {
  position: absolute;
  top: 125px;
}

.text-answer {
	position: absolute;
  border: solid 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  font-size: 16px;
  padding: 13px;
  font-size: 16px;
  color: #999999;
  font-weight: 100;
  top: 170px;
  resize: none;
}

.text-answer:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
}

.form-answer .send-modal {
  position: absolute;
  width: 140px;
  height: 43px;
  border-radius: 25px;
  right: 25px;
  bottom: 27px;
}

.modal-close,
.modal-close:hover,
.modal-close:active {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;
  width: 22px;
  height: 2px;
  background-color: #231f20;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}


